h1{
text-align:center;
font-family: 'Cinzel Decorative', cursive;
font-size:35px;
}
h2{
text-align:center;
font-family: 'Cinzel Decorative', cursive;
font-size:30px;
}
body
{
background: linear-gradient(270deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
 Text-align:Center;
}
p
{
  text-align:center;
  font-family: 'Cinzel Decorative', cursive;
  font-size:25px;
}
img
{height:100px;
 Width:100px;
 }
#HAMZA
{
  display:flex;
}
.links:hover {
    font-size: 25px;
    text-decoration: underline;
    color: Blue;
}
.links {
    display: inline;
    padding-left: 40px;
    padding-right:40px;
    font-family: fantasy;
    font-size: 20px;
    color:Black;
    }